.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 80%;
  background-color: lightgray;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-menu-btn {
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 25%;
  text-align: center;
  transition: 0.2s;
}

.header-menu-btn:hover {
  background-color: darkgray;
  transition: 0.2s;
  cursor: pointer;
}

.content {
  width: 80%;
  background-color: lightgray;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

/*rename*/
.other {
  width: 25%;
}

.post-box {
  width: 75%;
}

.post-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  width: 80%;
  background-color: lightgray;
  margin-top: 5px;
}
